
body{
    background-color: black;
    background-image: linear-gradient(to right, black , rgb(66, 66, 69));
    font-family: 'Poppins', sans-serif;
    color: #FAFAFA;
}

h1{
    text-align: center;
    font-size: 50px;
}

h2{
   text-align: center;
   font-size: 35px;
}


.container{
    box-sizing: border-box;
    position: absolute;
    width: 1088px;
    height: 590px;
    left: 246px;
    top: 135px;
    border: 2px solid #E3AB40;
  /* border:2px solid #e95cb2;*/
    border-radius: 8px;

}

.box-1{
    position: absolute;
    width: 404px;
    height: 385px;
    left: 145px;
    top: 114px;
    border: 1px solid #080808 
}

.box-2{
    position: absolute;
    width: 304px;
    height: 198px;
    left: 670px;
    top: 154px;
    background-color: #e95cb2;
    border-radius: 10px;
    background-image: linear-gradient(to left, #e95cb2 , rgb(104, 37, 67));
    font-family: 'Courier New';
    filter: drop-shadow(10px 10px 5px #fff);

}

input[type=text] {
    width: 100%;
    padding: 12px 20px ;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


#btnValidator{
    width: 403px;
    height: 39px;
    left: 600px;
    top: 550px;
    background-color:#e3ab40;
    filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.08));
}

.card-icon{
    height: 30px;
    width: 36px;
    position: absolute;
    left: 180px;
    top: 135px;
    background: none;
    border:none;
    cursor: pointer;
    font-size: 2em;
    color: #e3ab40;

}
.img-1{
    width:55px;
    height:35px;   
    margin-top: 15px; 
    margin-left: 15px;
}

.letter-1{
    font-size: 20px;
    margin-left: 15px;
    margin-top: 25px;
}
.letter-2{
    margin-top: 15px;
    text-align: center;
    letter-spacing: 12pt; /* para separar entre letras */
}
.letter-3{
    margin-top: 25px;
    margin-left: 15px; 
}
.letter-4{
    margin-right: 15px;
    float: right;
}
